


<body id="top">
   
    <div class="bgded overlay padtop" style="background-image:url('../../assets/images/demo/backgrounds/fondo1.jpg');">
      
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
          
          <h1><a href="index.html">Crypto G7</a></h1>
         
        </div>
        <nav id="mainav" class="fl_right">
         
          <ul class="clear">
            <li class="active"><a  routerLink="/home">Home</a></li>
            <li><a class="drop" *ngIf="user">Comprar-Vender criptos</a>
              <ul>
                <li><a href="inciarsesion" routerLink="/mistransacciones">Mis transacciones</a></li>
                <li><a href="#" routerLink="/deposito">Depósito bancario</a></li>
                <li><a  href="#" routerLink="/transferencias">Transferencia bancaria</a></li>
                <li><a  href="#" routerLink="/tarjetas">Tarjeta de crédito/débito</a></li>
                <li><a href="#" routerLink="/p2p">Comercio P2P</a></li>
              </ul>
            </li>
            <li><a class="drop" href="#">Cotizaciones</a>
              <ul>
                <li><a href="#" target="_blank"> Todas las critomonedas</a></li>
                <li><a class="drop" href="#">Monedas destacadas</a>
                  <ul>
                    <li><a href="#"
                        target="_blank"> Bitcoin</a></li>
                    <li><a href="#"
                        target="_blank"> Ethereum</a></li>
                    <li><a href="#"
                        target="_blank">Theter</a></li>
                    <li><a href="#"
                        target="_blank">Binance Coin</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
         
        </nav>
      </header>
      
      
      
      <div id="pageintro" class="hoc clear">
        
        <article>
          <h3 class="heading">Billetera de cryptomonedas</h3>
          <p>Crypto G7 es la mejor experiencia del mercado para transacciones con criptomonedas. </p>
          <footer>
            <ul class="nospace inline pushright">
              <li><a class="btn" routerLink="/iniciarsesion">Iniciar sesión</a></li>
              <li><a class="btn inverse" routerLink="/registrarse">Registrarse</a></li>
            </ul>
          </footer>
        </article>
        
      </div>
      
    </div>
    
    
    
    <div class="wrapper row1">
      <section id="ctdetails" class="hoc clear">
        
        <ul class="nospace clear">
          <li class="one_quarter first">
            <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Nuestro contacto:</strong>
                +00 (123) 456 7890</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Puedes enviarnos un correo a:
                  </strong> nataliagerbi@gmail.com</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Lunes a viernes:</strong>
                08.00am - 18.00pm</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Puedes visitarnos en
                :</strong> <a href="#"></a></span></div>
          </li>
        </ul>
        
      </section>
    </div>
    
    
    
    <div class="wrapper row3">
      <main class="hoc container clear">
        <!-- main body -->
        
        <section id="services">
  
        </section>
        
        
        <div class="clear"></div>
      </main>
    </div>
    
    
    
    <div class="bgded overlay" style="background-image:url('../../assets/images/demo/backgrounds/bitcoinlog.jpg');">
      <section class="hoc container clear">
        
        <div class="sectiontitle">
          <p class="nospace font-xs">Registrate en nuestra APP</p>
          <h6 class="heading">Servicios que encontrarás en Crypto G7</h6>
        </div>
        <article id="points" class="group">
          <div class="two_third first">
            <h6 class="heading">Billeteras de criptomonedas</h6>
            <p> Tu Billetera de criptomonedas es una cuenta digital que se usa para almacenar, enviar y recibir
              criptomonedas.
              La mayoría de las monedas tienen una billetera oficial, es decir, si quieres almacenar, tienes la opción de
              hacerlo descargando la billetera oficial.
              En nuestra app podrás comprar, vender, transferir diferentes criptos.</p>
            <ul class="nospace group">
              <li><span>1</span> Tener una cuenta privada y segura</li>
              <li><span>2</span> Comprar y vender criptomonedas</li>
              <li><span>3</span> Transferir dinero en pesos a nuestra app para las transacciones</li>
              <li><span>4</span> Comprar o vender en otras monedas</li>
              <li><span>5</span> Revisar las cotizaciones en tiempo real</li>
              <li><span>6</span> Comprar criptomonedas mediante tarjetas de crédito o débito</li>
              <li><span>7</span> Comprar criptomonedad a través de depósito o transferencia bancaria</li>
              <li><span>8</span> Transferir tus criptomonedas a otra persona</li>
            </ul>
          </div>
          <div class="one_third last"><a class="imgover" href=""  routerLink="/registrarse"><img
                src="../../assets/images/demo/backgrounds/logueojpg.jpg" alt=""></a></div>
        </article>
        
      </section>
    </div>
    
    
    
    <div class="wrapper row2">
      <section class="hoc container clear">
        
        <div class="sectiontitle">
          <p class="nospace font-xs">Estamos cerca tuyo</p>
          <h6 class="heading">¿Quiénes somos?</h6>
        </div>
        <ul id="latest" class="nospace group sd-third">
          <li class="one_third first">
            <article>
  
              <figure><img src="../../assets/images/demo/FOTO PERFIL CAMPUS.jpg" alt="">
                <figcaption>
                  <ul class="nospace meta clear">
                    <li><i class="fas fa-user"></i> <a href="#">Socia gerente</a></li>
                    <li>
                      <time datetime="2045-04-06T08:15+00:00">20/10/2020</time>
                    </li>
  
                  </ul>
                  <h6 class="heading">Natalia Gerbi</h6>
                </figcaption>
              </figure>
              <p></p>
            </article>
          </li>
          <li class="one_third">
            <article>
              <figure><img src="../../assets/images/demo/adriana caminosjpg.jpg" alt="">
                <figcaption>
                  <ul class="nospace meta clear">
                    <li><i class="fas fa-user"></i> <a href="#">Socia gerente</a></li>
                    <li>
                      <time datetime="2045-04-05T08:15+00:00">20/10/2020</time>
                    </li>
                  </ul>
                  <h6 class="heading">Adriana caminos</h6>
                </figcaption>
              </figure>
              <p></p>
            </article>
          </li>
           
          <li class="one_third">
            <article>
              <figure><img src="../../assets/images/demo/gabriela ludueña.jpg" alt="">
                <figcaption>
                  <ul class="nospace meta clear">
                    <li><i class="fas fa-user"></i> <a href="#">Socia gerente</a></li>
                    <li>
                      <time datetime="2045-04-04T08:15+00:00">20/10/2020</time>
                    </li>
                  </ul>
                  <h6 class="heading">Gabriela Ludueña</h6>
                </figcaption>
              </figure>
              <p></p>
            </article>
          </li>
  
          
        </ul>
      </section>
    </div>
  
  
    
    
    
    <div class="wrapper row4">
      <footer id="footer" class="hoc clear">
        
        <div class="one_quarter first">
          <h6 class="heading"></h6>
          <!--
            <p>
            [<a href="#">&hellip;</a>]</p> -->
          <ul class="faico clear">
            <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
          </ul>
        </div>
        <!--
          <div class="one_quarter">
          <h6 class="heading"></h6>
          <ul class="nospace linklist">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      
        <div class="one_quarter">
          <h6 class="heading"></h6>
          <p class="nospace btmspace-15"></p>
          <form action="#" method="post">
            <fieldset>
              <legend></legend>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <button class="btn" type="submit" value="submit"></button>
            </fieldset>
          </form>
        </div>
        <div class="one_quarter last">
          <h6 class="heading"></h6>
          <ul class="nospace linklist">
            <li>
              <article>
                <h6 class="nospace font-x1"><a href="#"></a></h6>
                <time class="font-xs block btmspace-10" datetime="2045-04-06"><sup></sup></time>
                <p class="nospace"></p>
              </article>
            </li>
            <li>
              <article>
                <h6 class="nospace font-x1"><a href="#"></a></h6>
                <time class="font-xs block btmspace-10" datetime="2045-04-05"><sup></sup> </time>
                <p class="nospace"></p>
              </article>
            </li>
          </ul>
        </div>
      -->
      </footer>
    </div>
    
    
    
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear">
        
        <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#"></a></p>
        <p class="fl_right">Template by <a target="_blank" href="#"
            title="Free Website Templates"> Grupo G7 </a></p>
        
      </div>
    </div>
    
    
    
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="asset/layout/scripts/jquery.min.js"></script>
    <script src="asset/layout/scripts/jquery.backtotop.js"></script>
    <script src="asset/layout/scripts/jquery.mobilemenu.js"></script>
  </body>
  
  
