<!DOCTYPE html>
<html>

<body id="top">
  
  
  
  <!-- Top Background Image Wrapper -->
  <div class="bgded overlay padtop" style="background-image:url('../../assets/images/demo/backgrounds/logueojpg.jpg');">
    
    
    
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        
        <h1><a href="../index.html">Iniciar Sesión</a></h1>
        
      </div>
      <nav id="mainav" class="fl_right">
        
        <ul class="clear">
          <li><a href="../index.html">Home</a></li>
          <li class="active"><a class="drop" href="#"routerLink="/registrarse">Registrarse</a>
          </li>
        </ul>
        
      </nav>
    </header>
    
    
    
    <div id="breadcrumb" class="hoc clear">
      
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Iniciar sesion</a></li>
        
      </ul>
      
    </div>
    
  </div>
  <!-- End Top Background Image Wrapper -->
  
  
  
   <div class="wrapper row1">
      <section id="ctdetails" class="hoc clear">
        
        <ul class="nospace clear">
          <li class="one_quarter first">
            <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Nuestro contacto:</strong>
                +00 (123) 456 7890</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Puedes enviarnos un correo a:
                  </strong> nataliagerbi@gmail.com</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Lunes a viernes:</strong>
                08.00am - 18.00pm</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Puedes visitarnos en
                :</strong> <a href="#"></a></span></div>
          </li>
        </ul>
      </section>
    </div>
  
    <!--<div class="wrapper row1">
      <section id="ctdetails" class="hoc clear"> 
      </section>
    </div>
  -->
    <div class="wrapper row3">
      <main class="hoc container clear"> 
        <div class="content block first"> 
          <div id="comments">
            <h2>Ingresa tus credenciales y acced&eacute; al sistema</h2>
            <hr><br>
            <form  [formGroup]="loginForm" (click)="guardarCookie($event)">
              <div class="two_qarter">
                <label for="email">Mail <span>*</span></label>
                <input formControlName="email" type="email" name="email" id="email" value="" size="22">
              </div>
    
              <div class="two_qarter">
                <label for="password">Contraseña <span>*</span></label>
                <input formControlName="password" type="password" name="password" id="password" value="" size="22">
              </div>
    
              
            
              <div>
                <input type="submit"  name="submit" value="Ingresar">
              </div>
            </form>
          </div>
        </div>
        <div class="clear"></div>
      </main>
    </div>
  
  
  
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        
      <div class="one_quarter first">
        <h6 class="heading"></h6>
        <!--
          <p>
          [<a href="#">&hellip;</a>]</p> -->
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
        </ul>
      </div>
      <!--
        <div class="one_quarter">
        <h6 class="heading"></h6>
        <ul class="nospace linklist">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    
      <div class="one_quarter">
        <h6 class="heading"></h6>
        <p class="nospace btmspace-15"></p>
        <form action="#" method="post">
          <fieldset>
            <legend></legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button class="btn" type="submit" value="submit"></button>
          </fieldset>
        </form>
      </div>
      <div class="one_quarter last">
        <h6 class="heading"></h6>
        <ul class="nospace linklist">
          <li>
            <article>
              <h6 class="nospace font-x1"><a href="#"></a></h6>
              <time class="font-xs block btmspace-10" datetime="2045-04-06"><sup></sup></time>
              <p class="nospace"></p>
            </article>
          </li>
          <li>
            <article>
              <h6 class="nospace font-x1"><a href="#"></a></h6>
              <time class="font-xs block btmspace-10" datetime="2045-04-05"><sup></sup> </time>
              <p class="nospace"></p>
            </article>
          </li>
        </ul>
      </div>
    -->
    </footer>
  </div>
  
  
  
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      
      <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#"></a></p>
      <p class="fl_right">Template by <a target="_blank" href="#"
          title="Free Website Templates"> Grupo G7 </a></p>
      
    </div>
  </div>
  
  
  
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="asset/layout/scripts/jquery.min.js"></script>
  <script src="asset/layout/scripts/jquery.backtotop.js"></script>
  <script src="asset/layout/scripts/jquery.mobilemenu.js"></script>
</body>